<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>labs and assignments</title>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'>
    <link rel="stylesheet" href="assignment_lab.css">
</head>
<body>
    <header><div id="div_flexbox">
        <div id = "title">
            <strong>CSCB20</strong>
        </div>
        <div id="buttongrid">
            <a  href="index.html">Home</a>
            <a href="staff.html">Staff and Instructors</a>
            <a href="news.html">News</a>
            <a href="calendar.html">Calendar</a>
            <a id="current_header" href="assignment_lab.html">Labs and Assignment</a>
            <a href="lecture.html">Lecture</a>
            <a href="AnonFeedback.html">Annon Feedback</a>
            <a href="resources.html">Online Resources</a>

        </div>
    </div></header>
<div id="div_homepage_body" class="first_body">
    <h1>
        Welcome to CSCB20: Assignment and Lab
    </h1>
    <h2>
        Assignments:
    </h2>
    <h3>
        <a href="CourseContent/Assignment.pdf">Assignment 1</a>
    </h3>
    Due Date: Feb 10 at 11:59pm<br>
    Marks:    30/30
    <hr> 
    <h3>
        <a href="CourseContent/Assignment.pdf">Assignment 2</a>
    </h3>
    Due Date: March 1 at 11:59pm<br>
    Marks:    60/65
    <hr> 
    <h3>
        <a href="CourseContent/Assignment.pdf">Assignment 3</a>
    </h3>
    Due Date: April 8 at 11:59pm<br>
    Marks:    -/80
    <hr> 
</div>
<div id="div_homepage_body">
    <h2>
        Labs:
    </h2>
    <h3>
        <a href="CourseContent/lab.pdf">Lab 1</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="CourseContent/lab_solution.pdf">Lab 1 Solution</a>
    </h3>
    Due Date: Jan 20 at 11:59pm<br>
    Marks:    9.8/10
    <hr> 
    <h3>
        <a href="CourseContent/lab.pdf">Lab 2</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="CourseContent/lab_solution.pdf">Lab 2 Solution</a>
    </h3>
    Due Date: Jan 31 at 11:59pm<br>
    Marks:    9/10
    <hr> 
    <h3>
        <a href="CourseContent/lab.pdf">Lab 3</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="CourseContent/lab_solution.pdf">Lab 3 Solution</a>
    </h3>
    Due Date: Feb 15 at 11:59pm<br>
    Marks:    10/10
    <hr> 
    <h3>
        <a href="CourseContent/lab.pdf">Lab 4</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="CourseContent/lab_solution.pdf">Lab 4 Solution</a>
    </h3>
    Due Date: March 10 at 11:59pm<br>
    Marks:    8/10
    <hr> 
    <h3>
        <a href="CourseContent/lab.pdf">Lab 5</a>
    </h3>
    Due Date: March 30 at 11:59pm<br>
    Marks:    -/10
    <hr> 


</div>
<footer>
    <a href="https://web.cs.toronto.edu/about/our-department">Faculty of Computer Science at UofT</a>
    <p>Created by: Eddie Yang, Jessica Wenbei Zhu, Hengyi Li</p>
</footer>
</body>
</html>