{% extends "index.html" %}

{% block content %}
<div id="div_homepage_body" class="first_body">
    <h1>
        Welcome to CSCB20: Assignment and Lab
    </h1>
    <h2>
        Assignments: <a href="{{ url_for('marks') }}">Click here to see your grades</a>
    </h2>
    <h3>
        <a href="CourseContent/Assignment.pdf">Assignment 1</a>
    </h3>
    Due Date: Feb 10 at 11:59pm<br>
    Marks:    -/30
    <hr> 
    <h3>
        <a href="CourseContent/Assignment.pdf">Assignment 2</a>
    </h3>
    Due Date: March 1 at 11:59pm<br>
    Marks:    -/65
    <hr> 
    <h3>
        <a href="CourseContent/Assignment.pdf">Assignment 3</a>
    </h3>
    Due Date: April 8 at 11:59pm<br>
    Marks:    -/80
    <hr> 
</div>
<div id="div_homepage_body">
    <h2>
        Labs:
    </h2>
    <h3>
        <a href="CourseContent/lab.pdf">Lab 1</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="CourseContent/lab_solution.pdf">Lab 1 Solution</a>
    </h3>
    Due Date: Jan 20 at 11:59pm<br>
    Marks:    -/10
    <hr> 
    <h3>
        <a href="CourseContent/lab.pdf">Lab 2</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="CourseContent/lab_solution.pdf">Lab 2 Solution</a>
    </h3>
    Due Date: Jan 31 at 11:59pm<br>
    Marks:    -/10
    <hr> 
    <h3>
        <a href="CourseContent/lab.pdf">Lab 3</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="CourseContent/lab_solution.pdf">Lab 3 Solution</a>
    </h3>
    Due Date: Feb 15 at 11:59pm<br>
    Marks:    -/10
    <hr> 
    <h3>
        <a href="CourseContent/lab.pdf">Lab 4</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="CourseContent/lab_solution.pdf">Lab 4 Solution</a>
    </h3>
    Due Date: March 10 at 11:59pm<br>
    Marks:    -/10
    <hr> 
    <h3>
        <a href="CourseContent/lab.pdf">Lab 5</a>
    </h3>
    Due Date: March 30 at 11:59pm<br>
    Marks:    -/10
    <hr> 


</div>
{% endblock %}