{% extends "index.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lecture.css') }}">
</head>
    <div id="div_homepage_body" class="first_body">
        <h1>
            Welcome to CSCB20: Lecture
        </h1>

        <p>
            <strong>Week1:</strong><br>
            Introduction, Databases background
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>

        <p>
            <strong>Week2:</strong><br>
            Continue with last week material
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>
        <p>
            <strong>Week3:</strong><br>
            Schema Diagrams, Relational Algebra
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>
        <p>
            <strong>Week4:</strong><br>
            SQL and MySQL
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>
        <p>
            <strong>Week5:</strong><br>
            MySQL Queries, Creating and Editing Tables
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>
        <p>
            <strong>Week6:</strong><br>
            MySQL Outer Joins, Views, NULL, string functions, HTML
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>
        <p>
            <strong>Week7:</strong><br>
            HTML, CSS
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>
        <p>
            <strong>Week8:</strong><br>
            PHP
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>
        <p>
            <strong>Week9:</strong><br>
            PHP and SQL
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>
        <p>
            <strong>Week10:</strong><br>
            JavaScript and jQuery
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>
        <p>
            <strong>Week11:</strong><br>
            jQuery, AJAX, JSON
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>
        <p>
            <strong>Week12:</strong><br>
            Last Year's final
        </p>
        <ul>
            <li>
                <a href="CourseContent/course_material.pdf">course lecture</a>
            </li>
            <li>
                <a href="CourseContent/tutorial.pdf">tutorial worksheet</a>
            </li>
            <li>
                <a href="CourseContent/tutorial_solution.pdf">tutorial solution</a>
            </li>
            <li>
                <a href="CourseContent/other_resources.pdf">other resources</a>
            </li>
        </ul>


    </div>

    {% endblock %}