<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'>
    <link rel="stylesheet" href="news.css">
</head>
<body>
    <header><div id="div_flexbox">
        <div id = "title">
            <strong>CSCB20</strong>
        </div>
        <div id="buttongrid">
            <a href="index.html">Home</a>
            <a href="staff.html">Staff and Instructors</a>
            <a id="current_header" href="news.html">News</a>
            <a href="calendar.html">Calendar</a>
            <a href="assignment_lab.html">Labs and Assignment</a>
            <a href="lecture.html">Lecture</a>
            <a href="AnonFeedback.html">Annon Feedback</a>
            <a href="resources.html">Online Resources</a>

        </div>
    </div></header>
<div id="div_homepage_body" class="first_body">
    <h1>
        Welcome to CSCB20: News
    </h1>
    <h3>
        Jan 10
    </h3>
    Welcome to CSCB20! Please attend your tutorial on WEEK 1 for warm up test.
    <hr> 
    <h3>
        Jan 20
    </h3>
    Due to technical issues, today's lecture will be canceled and see you guys next week.
    <hr> 
    <h3>
        Feb 25
    </h3>
    There is a term test tomorrow, so please bring your T-card and yourself for the test.
    <hr> 

</div>
<footer>
    <a href="https://web.cs.toronto.edu/about/our-department">Faculty of Computer Science at UofT</a>
    <p>Created by: Eddie Yang, Jessica Wenbei Zhu, Hengyi Li</p>
</footer>
</body>
</html>