{% extends "index.html" %}

{% block content %}
<div id="div_homepage_body" class="first_body">
        <h1>
            Welcome to CSCB20: Online Resources
        </h1>
        <td>
            <a href="https://piazza.com/utoronto.ca/winter2024/cscb20h3s">Piazza</a>This is where you can discuss course related problems with your peers and instructors.
        </td><br><br> 
        <td>
            <a href="https://markus2.utsc.utoronto.ca/">MarkUs</a> This is where you submit your assignments.
        </td>
</div>
{% endblock %}