<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>staff and instructors</title>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'>
    <link rel="stylesheet" href="staff.css">
</head>

<body>
    <header><div id="div_flexbox">
        <div id = "title">
            <strong>CSCB20</strong>
        </div>
        <div id="buttongrid">
            <a href="index.html">Home</a>
            <a id="current_header" href="staff.html">Staff and Instructors</a>
            <a href="news.html">News</a>
            <a href="calendar.html">Calendar</a>
            <a href="assignment_lab.html">Labs and Assignment</a>
            <a href="lecture.html">Lecture</a>
            <a href="AnonFeedback.html">Annon Feedback</a>
            <a href="resources.html">Online Resources</a>

        </div>
    </div></header>
    <div id="div_homepage_body" class="first_body">
        <div id="instructor_grid">
            <div>
                <h1>
                    Welcome to CSCB20: Course Administration
                </h1>
                <p>
                    <strong>Instructor:</strong> Dr. Purva R. Gawde
                </p>
                <p>
                    <strong>email:</strong> <a href="mailto:purva.gawde@utoronto.ca">purva.gawde@utoronto.ca</a>
                </p>
            </div>
            <div>
                <img id="prof_image" src="Images/Purva's picture.jpg">
            </div>
        </div>
        
    </div>
    <div id="div_homepage_body">
        <h1>Instructor and TA office hours:</h1>
        <table>
            <tr>
                <th>Instructor/TA</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
            <tr>
                <td>Purva Gawde</td>
                <td>Tuesday 12 to 1</td>
                <td>IC 484</td>
            </tr>
            <tr>
                <td>Pourya Moghadam</td>
                <td>Monday 11 to 12</td>
                <td>IC 402</td>
            </tr>
            <tr>
                <td>Joshua Concon</td>
                <td>Wednesday 3 to 4</td>
                <td>IC 402</td>
            </tr>
            <tr>
                <td>Danny Chen</td>
                <td>Friday 12 to 1</td>
                <td>IC 402</td>
            </tr>

            <tr>
                <td>Nisha Rajendran</td>
                <td>Wednesday 10 to 11</td>
                <td>IC 402</td>
            </tr>

            <tr>
                <td>Navinn Ravindaran</td>
                <td>Friday 11 to 12</td>
                <td>IC 402</td>
            </tr>
        </table>
    </div>
    <footer>
        <a href="https://web.cs.toronto.edu/about/our-department">Faculty of Computer Science at UofT</a>
        <p>Created by: Eddie Yang, Jessica Wenbei Zhu, Hengyi Li</p>
    </footer>
</body>

</html>