{% extends "index.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/staff.css') }}">
</head>
    <div id="div_homepage_body" class="first_body">
        <div id="instructor_grid">
            <div>
                <h1>
                    Welcome to CSCB20: Course Administration
                </h1>
                <p>
                    <strong>Instructor:</strong> Dr. Purva R. Gawde
                </p>
                <p>
                    <strong>email:</strong> <a href="mailto:purva.gawde@utoronto.ca">purva.gawde@utoronto.ca</a>
                </p>
            </div>
            <div>
                <img id="prof_image" src="{{ url_for('static', filename='Images/Purva.jpg') }}">
            </div>
        </div>
        
    </div>
    <div id="div_homepage_body">
        <h1>Instructor and TA office hours:</h1>
        <table>
            <tr>
                <th>Instructor/TA</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
            <tr>
                <td>Purva Gawde</td>
                <td>Tuesday 12 to 1</td>
                <td>IC 484</td>
            </tr>
            <tr>
                <td>Pourya Moghadam</td>
                <td>Monday 11 to 12</td>
                <td>IC 402</td>
            </tr>
            <tr>
                <td>Joshua Concon</td>
                <td>Wednesday 3 to 4</td>
                <td>IC 402</td>
            </tr>
            <tr>
                <td>Danny Chen</td>
                <td>Friday 12 to 1</td>
                <td>IC 402</td>
            </tr>

            <tr>
                <td>Nisha Rajendran</td>
                <td>Wednesday 10 to 11</td>
                <td>IC 402</td>
            </tr>

            <tr>
                <td>Navinn Ravindaran</td>
                <td>Friday 11 to 12</td>
                <td>IC 402</td>
            </tr>
        </table>
    </div>
{% endblock %}